<div class="c-animation-container">
  <div class="c-animation-options"> 
    <animation-sustainability-option
      [iconLocation]="'../../../assets/images/icons/png/box.png'"
      [buttonIconLocation]="'../../../assets/images/icons/png/t-shirt.png'"
      [optionLocation]="'TL'"
      [color]="'rgba(206,234,214)'"
      [header]="'Stuff'"
      [paragraph]="'Explore tactics to give your stuff a second life'"
    >  
    </animation-sustainability-option>
    <animation-sustainability-option
      [iconLocation]="'../../../assets/images/icons/png/shower.png'"
      [buttonIconLocation]="'../../../assets/images/icons/png/water-drop.png'"
      [optionLocation]="'TR'"
      [color]="'rgba(210,227,252)'"
      [header]="'Water'"
      [paragraph]="'Try simple tricks to make every drop count'"  
    >
      
    </animation-sustainability-option>
  </div>
  <div class="c-animation-headline">
    <div class="c-animation-headline__tittle">
        <h1 style="align-self: start;">Your Plan,</h1>
        <h1 style="align-self: end;">Your Planet</h1>
    </div>
    <p>Discover how to reduce food, water, and energy waste, and learn about the Circular Economy to extend the life of your stuff.</p>
  </div>
  <div class="c-animation-options"> 
  <animation-sustainability-option
    [iconLocation]="'../../../assets/images/icons/png/idea.png'"
    [buttonIconLocation]="'../../../assets/images/icons/png/flash.png'"
    [optionLocation]="'BL'"
    [color]="'rgba(255,239,195)'"
    [header]="'Energy'"
    [paragraph]="'Get tips on how to power up whithout maxing up'" 
  >
      
  </animation-sustainability-option>
  <animation-sustainability-option
    [iconLocation]="'../../../assets/images/icons/png/refrigerator.png'"
    [buttonIconLocation]="'../../../assets/images/icons/png/restaurant.png'"
    [optionLocation]="'BR'"
    [color]="'rgba(248,210,206)'"
    [header]="'Food'"
    [paragraph]="'Learn new ways to toss less to save more'" 
  >   
  </animation-sustainability-option>



</div>  
