:root{
  --primary-color: #4aadff;
  --second-color: #FF937D;

  --blue-100: #427BFF;
  --blue-200: #7183F8;
  --black: #464555;
  --white: #ffffff;
  --gray-1: #AAA9BC;
  --gray-2: #eeeeee;
  --red-1: #B41234;
  --red-2: #F35663;
}